body{
    color: #311231;
    font-family: 'Rokkitt', serif;
    background: #d9d9d9;
    text-align: center;
    margin: 0 0 0 0;
}
header{
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: bold;
    background: #311231;
    color: #d9d9d9;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow:hidden;
    width:100%;
    box-shadow: 0 0 10px black;
    text-shadow: 2px 2px 4px #000000;
}
footer{
    background: #311231;
    color: #d9d9d9;
    margin-top: 20px;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top: 4px;
    padding-bottom: 2px;
    box-shadow: 0 -2px 4px black;
}
main{
   margin-top: 25px;
    font-size: 20px;
}
#helloWorld{
    margin: auto;
    width: 50%;
}
.button{
    border-color: #311231;
    color: #311231;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    border-radius: 20px;
    box-shadow: 0 9px #000;
}
.button:hover {
    background-color: #311231;
    color: #ffffff;
}
.button:active {
    color: #ffffff;
    box-shadow: 0 5px #000;
    transform: translateY(4px);
}
th,tr,td{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: #7a7a7a;
}


